.better_share_buttons.bsb-style-colored-icons{
	display: flex;
	flex-wrap: wrap;
	gap: var(--bsb-my) var(--bsb-mx);
}
.better_share_buttons.bsb-style-colored-icons a{
	display: inline-flex;
	align-items: center;
	padding: var(--bsb-py) var(--bsb-px);
	background: none;
	border: none;
	border-radius: var(--bsb-br);
	font-size: var(--bsb-fz);
	color: var(--bsb-color);
	text-decoration: none;
	transform: translateY(0px);
	transition: transform .3s ease;
}
.better_share_buttons.bsb-style-colored-icons a:hover{
	transform: translateY(-2px)
}
.better_share_buttons.bsb-style-colored-icons a.copied path{
	fill: #bbd700
}
.better_share_buttons.bsb-style-colored-icons a span{
	display: block;
	padding: 0 var(--bsb-lrs) 0 var(--bsb-lls);
}
.better_share_buttons.bsb-style-colored-icons svg{
	width: auto;
	height: var(--bsb-iz);
	stroke: none;
	fill: var(--bsb-color);
}
.better_share_buttons.bsb-style-colored-icons .better_share_buttons_more{
	display: none
}
.better_share_buttons.bsb-style-colored-icons.limited .better_share_buttons_more{
	display: inline-flex
}
.better_share_buttons.bsb-style-colored-icons.limited .better_share_buttons_more ~ a{
	display: none
}
@media(max-width: 979px){
	.better_share_buttons.bsb-style-colored-icons a span{
		display: none
	}
}
@media print{
	.better_share_buttons.bsb-style-colored-icons{
		display: none
	}
}